@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Homemade+Apple&family=Rock+Salt&display=swap");

.komorebi-container {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.komorebi-hero {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: auto;
}

.komorebi-title {
  font-size: clamp(3.5rem, 6vw, 5.5rem);
  font-weight: 600;
  color: #111;
  text-align: center;
  line-height: 1.2;
  font-family: "Rubik Mono One";
}

.komorebi-rotating {
  display: inline-block;
  position: relative;
  margin-left: 0.5rem;
  color: white;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  background-color: #ffaa00ff;
  /* overflow: hidden; */
  z-index: -1;
  min-width: 450px; /* ajuste para a MAIOR palavra */
  text-align: center;
}

.komorebi-rotating > * {
  display: inline-block;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  will-change: opacity, transform;
}

.mockup-triple {
  width: 50%;
  margin: auto;
}
